<footer class="site-foot">
  <div class="wrap">
    <div class="fcol fbrand">
      <div class="bn">Building Bloch's</div>
      <p>An open-source motorised Bloch Sphere demonstrator for quantum teaching and outreach. Built by QDNL and friends.</p>
    </div>
    <div class="fcol">
      <h5>The project</h5>
      <a href="build.html">Build your own</a>
      <a href="teach.html">Teach with it</a>
      <a href="play.html">Play &amp; outreach</a>
      <a href="play.html#versions">Versions &amp; archive</a>
    </div>
    <div class="fcol">
      <h5>Software &amp; files</h5>
      <a href="https://github.com/Tjeerdw/Building-Blochs" target="_blank" rel="noopener">GitHub repository &#8599;</a>
      <a href="https://github.com/Tjeerdw/Building-Blochs/tree/master/Building-Blochs-Firmware" target="_blank" rel="noopener">Firmware (PlatformIO) &#8599;</a>
      <a href="https://blochfish.netlify.app/" target="_blank" rel="noopener">Fish Game &#8599;</a>
      <a href="play.html#games">All games</a>
    </div>
  </div>
</footer>
